body {
    font-size: 24px;
}
#first {
    color: darkslategray;
}
.red {
    color: brown;
    font-family: 'Lucida Sans';
}
.highlight {
    color:black;
    font-weight: bold;
    font-style: italic;
}
#first>h2 {
    color:midnightblue;
}
#second>h2 {
    color: darkblue;
}
#third>h2 {
    color: darkblue;
}