*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.box {
    width: 200px;
    height: 200px;
    border: 20px solid blueviolet;
    padding:30px ;
    margin: 40px;
}
